$body-color: #b8c0cc;
$body-gradient-color: linear-gradient(315deg, #b8c0cc 0%, #cccfd1 85%);
$second-body-color: rgba(73, 106, 155);
$main-gradient-color: linear-gradient(15deg, #154C18 0%, #24aa2a 75%);